## 1. In the below elements which of them are values or an expression? eg:- values can be
## integer or string and expressions will be mathematical operators.

## * , hello , -87.8 , - , / , + , 6

* - Expression
'hello' - Value
-87.8 - Value
-     - Expression
/ - Expression
+ - Expression
6 - Value

## 2. What is the difference between string and variable?

String is a datatype that is available by default in Python. It is a type of data that represents characters and textual data.

Variable is a container or an instance that can be used to store data in main memory for execution


Ex :- 'rahul' is a string which can be stored in a variable name
       name = 'rahul'

## 3. Describe three different data types.

1. Int :- This datatype is used to represent integer values like 2,100,0 etc
2. Float :- This datatype is used to represent decimal and floating point numbers like -100.2, 0.8 etc
3. Boolean :- This datatype has either True or False as its value and is mainly used in control flow statements

## 4. What is an expression made up of? What do all expressions do?

Expressions are representations of value. They are different from statement in the fact that statements do something while expressions are representation of value.

## 5. This assignment statements, like spam = 10. What is the difference between an
## expression and a statement?

Expressions only contain identifiers, literals and operators, where operators include arithmetic and boolean operators, the function call operator () the subscription operator [] and similar, and can be reduced to some kind of "value", which can be any Python object. 

Statements, on the other hand, are everything that can make up a line (or several lines) of Python code. Note that expressions are statements as well.

## 6. After running the following code, what does the variable bacon contain?

In [1]:
bacon = 22
bacon + 1

23

In [2]:
bacon

22

Bacon still contains the value 22 as bacon + 1 hasn't been assigned to the variable bacon again. SO bacon still has the value of 22

## 7. What should the values of the following two terms be?

In [3]:
'spam'+'spamspam'

#The output is spamspamspam as this is string concatenation operation

'spamspamspam'

In [4]:
'spam'*3

#The output is again spamspamspam as this is string multiplication and the string gets multiplied 3 times similar to addition

'spamspamspam'

## 8. Why is eggs a valid variable name while 100 is invalid?

eggs is a valid variable name as it follows all the conditions for nomenclature of variable naming.

While 100 cannot be a valid variable name as variable names cannot begin with integer values and since 100 is an integer, it cannot be used as a variable name

## 9. What three functions can be used to get the integer, floating-point number, or string
## version of a value?

int()
float()
str()

These are the three functions that can be used to get the integer, floating-point and string version of a value

## 10. Why does this expression cause an error? How can you fix it?

In [5]:
'I have eaten'+99+'burritos'

#

TypeError: can only concatenate str (not "int") to str

This expression causes an error as we are trying to add two different datatypes namely int and string and python cannot do it.

To fix this, we can convert or type cast the value of 99 from int to string so everything will be in same datatype

In [7]:
'I have eaten '+'99'+' burritos'

'I have eaten 99 burritos'

In [8]:
'I have eaten '+str(99)+' burritos'

'I have eaten 99 burritos'